* {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 20px;
}
body {
  background: url("https://images.unsplash.com/photo-1617529497832-5ad49d9b5928?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  display: flex;
}

#scroll-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 10px;
  background: #fcfbfb;
}
#scrollprogressbar {
  height: 7px;
  background: linear-gradient(
    90deg,
    #e22c87 0%,
    #ffae00 49%,
    #bafc4f 80%,
    #2dd49c 100%
  );
  width: 0%;
}

ul {
  list-style: none;
}
#info-type-box {
  text-align: center;
  width: 100px;
  height: 50px;
  border: 2px solid #fcfbfb;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
}

#info-type-box:hover {
  background: linear-gradient(
    90deg,
    #e22c87 0%,
    #ffae00 49%,
    #bafc4f 80%,
    #2dd49c 100%
  );
}
#lower-page-text {
  color: #fcfbfb;
}

#submit-button,
#reset-button {
  width: 150px;
  height: 50px;
  border: 3px solid rgb(252, 252, 252);
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  position: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#welcome-text:hover,
#submit-button:hover,
#reset-button:hover {
  background-image: linear-gradient(
    90deg,
    #e22c87 0%,
    #ffae00 49%,
    #bafc4f 80%,
    #2dd49c 100%
  );
  animation: slidebg 5s linear infinite;
}
@keyframes slidebg {
  to {
    background-position: 100vw;
  }
}
.form-check-input:hover {
  background-image: linear-gradient(
    90deg,
    #e22c87 0%,
    #ffae00 49%,
    #bafc4f 80%,
    #2dd49c 100%
  );
}

form-check-label {
  color: blanchedalmond;
}

#farewell-message {
  position: absolute;
  bottom: 0;
}
textarea {
  border-radius: 5px;
}
